body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(96, 94, 94);
}
h1, h3 {
    color: #EB2A82;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
h1 {
    margin: 3rem 1rem 0 0;
    text-align: right;
    font-size: 4rem;
    text-transform: uppercase;
}
.yellow {
    background-color: #FFED00;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.row {
  margin-bottom: 2rem;
}
.row .row {
  margin-top: 2rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
img {
    width: 100%;
    margin-left: 1rem;
}
hr {
    border-top-color: #FFED00;
}
.btn-primary {
    background-color: #FFED00;
    border-color: #FFED00;
    color: #EB2A82;
    font-weight: bold;
    text-transform: uppercase;
}
.table thead th {
    border-bottom-width: 1px;
    font-weight: normal;
}
.table td, .table thead th {
    border-color: #FFED00;
}
.table thead th.text-right,
.table td.text-right {
    width: 100px;
}
.line {
    stroke-width: 5px;
    stroke: #EB2A82;
}
