<html>
<head>
    <title>Orchestral Motion</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/websocketbridge.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://orchestral-motion.github.io/static/img/hack-music-la.png" />
    <style>
        {% include "index.css" %}
    </style>
</head>
<body class="yellow">
    <div class="container">
        <header>
            <div class="row">
                <div class="col-2 yellow"><img src="/static/img/hack-music-la.png"></div>
                <div class="col yellow"><h1>Orchestral Motion</h1></div>
            </div>
        </header>

        <section name="graphic">
            <svg width="960" height="500"></svg>
        </section>

        <section>
            <table id="table" class="table">
              <caption>
                  <a href="http://murmuring-dawn-85833.herokuapp.com/download/">Download</a>
              </caption>
              <thead>
                <tr>
                    <th>Timestamp</th>
                    <th class="text-right">x</th>
                    <th class="text-right">y</th>
                    <th class="text-right">z</th>
                </tr>
             </thead>
             <tbody></tbody>
            </table>
        </section>
    </div>
    <script id="table-row-template" type="template/jst">
        {% include "table.jst" %}
    </script>
    <script src="/static/js/d3.v4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            {% include "index.js" %}
        });
    </script>
</body>
</html>
