<html>
<head>
    <title>Orchestral Motion</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/websocketbridge.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <style>
        {% include "index.css" %}
    </style>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-2 yellow"><img src="/static/img/hack-music-la.png"></div>
                <div class="col yellow"><h1>Orchestral Motion</h1></div>
            </div>
        </header>

        <section>
            <h3>Create event</h3>
            <form id="single" class="form-inline">
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="x" placeholder="x">
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="y" placeholder="y">
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="z" placeholder="z">
              <button type="submit" class="btn btn-primary">Send one</button>
            </form>
            <form id="many" class="form-inline">
              <button type="submit" class="btn btn-primary">Send 10</button>
            </form>
        </section>
        <hr>

        <section name="graphic">
            <h3>Heartbeat</h2>
            <svg width="960" height="350"></svg>
        </section>
        <hr>

        <section>
            <h3>Latest events</h2>
            <table id="table" class="table">
              <thead>
                <tr>
                    <th>Timestamp</th>
                    <th class="text-right">x</th>
                    <th class="text-right">y</th>
                    <th class="text-right">z</th>
                </tr>
             </thead>
             <tbody></tbody>
            </table>
        </section>
    </div>
    <script id="table-row-template" type="template/jst">
        {% include "table.jst" %}
    </script>
    <script src="/static/js/d3.v4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            {% include "index.js" %}
        });
    </script>
</body>
</html>
